{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    '@babel/preset-typescript': {
      "allExtensions": true
    },
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-decorators",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime"
  ]
}
