@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

body {
  font-family: "Anonymous Pro", monospace;
  --tw-bg-opacity: 1;
  background-color: rgb(3 7 18 / var(--tw-bg-opacity));
  color: #fff;
}

.bg-pry {
  background-color: #5616c5;
}

.bg-sec {
  background-color: #c1a45a;
  background: rgba(193, 164, 90, 0.15);
}

.text-pry {
  color: #5616c5;
}

.text-sec {
  color: #c1a45a;
}
